@model BTL2.Models.Hang
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ChitietSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ChitietSanPham</h1>

<div>
    <h4>Hang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrongLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLanMua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLanMua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDanhMucNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDanhMucNavigation.MaDanhMuc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="SuaSanPham" asp-route-maHang="@Model?.MaHang">Edit</a> |
    <a asp-action="danhmucsanpham">Back to List</a>
</div>
